{% extends "survey/base.html" %}

{% block title %}
Exit Interview survey 
{% endblock %}

{% block content %}
<div class="container-fluid" style="width: 500px; height: 300px;">
<p>
The purpose of this survey is to gather information about your experiences as an employee at
the College and the reasons why you have decided to transition out to other employment, or to
pursue other life goals. The feedback you provide will help to inform future strategies and
processes that will improve the overall employee experience at the College. Your feedback and
any information transmitted with it is strictly confidential and will be gathered by the (Office name). 
Feedback will be provided to the Office of Diversity, Equity, and Inclusion, and (Person Name), (), Human Resources,
for the purposes of improvement to the employee experience at University.
</p>
<p>
If you have any questions, or if you would also like to participate in an in-person interview as a
follow-up to this questionnaire, please contact (person name), (Edu Qualification), (position), (Department), (email)@clark.edu. Thank you!
</p>
<button class="btn btn-primary" onclick="window.location.href = '{% url 'reasons' %}' ">
    Start 
</button>
</div>
{% endblock %}